<table class="table text-center" style="height: 100px;">
    <thead>
        <tr>
            <th></th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Cantidad</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pcComponent of pcComponents" [ngClass]="{'clearance': pcComponent.clearance}">
            <td><img [src]="pcComponent.image" width="100" class="img-fluid" [alt]="pcComponent.name"></td>
            <td>{{pcComponent.name}}</td>
            <td>{{pcComponent.price | currency}}</td>
            <td><span class="badge badge-danger" *ngIf="pcComponent.stock==0">SIN STOCK</span></td>
            <td>
                <app-input-integer [(quantity)]="pcComponent.quantity" [max]="pcComponent.stock" *ngIf="pcComponent.stock"></app-input-integer>
            </td>
            <td>
                <button class="btn btn-primary mt-1" (click)="addToCart(pcComponent)">Comprar</button>
            </td>
        </tr>
    </tbody>
</table>