<h1 class="text-center mb-5">Listado de Componentes</h1>
<table class="table text-center">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Tipo Producto</th>
            <th>Precio</th>
            <th>Stock</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><img [src]="pcComponent.image" class="img-fluid imagenComponente" [alt]="pcComponent.name"></td>
            <td>{{pcComponent.name}}</td>
            <td>{{pcComponent.productType}}</td>
            <td>{{pcComponent.price}}</td>
            <td>{{pcComponent.stock}}</td>
        </tr>
        <tr>
            <td>Nvidia GeForce RTX 2080ti</td>
            <td>GPU</td>
            <td>1199,99</td>
            <td>5</td>
        </tr>
        <tr>
            <td>Gigabyte Z490 Aorus Master</td>
            <td>Motherboard</td>
            <td>1699,99</td>
            <td>10</td>
        </tr>
        <tr>
            <td>Viewsonic 24" Curvo 144Hz Full HD</td>
            <td>Monitor</td>
            <td>499,99</td>
            <td>3</td>
        </tr>
    </tbody>
</table>